<!DOCTYPE html>
<html>

<head>
    <title>Create Book</title>
</head>

<body>
    <a href="{% url 'books:index' %}" class="button">My Books</a>
    <br><br>
    <form action="{% url 'books:create' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <br>
        <input type="text" name="author" placeholder="author">
        <br>
        <!--<input type="text" name="review" placeholder="review"> -->
        <br>
        <select name="rating">

            <option value=1>1 star</option>
            <option value=2>2 star</option>
            <option value=3>3 star</option>
            <option value=4>4 star</option>
            <option value=5>5 star</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Submit Book">
    </form>

</body>

</html>