<!DOCTYPE html>
<html>
<head>
	<title>survey form</title>
</head>
<body>
	{{ request.session.surveys }}
	
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}	
	</ul>
	{% endif %}
	<p>this is the survey form index page</p>
	<form action='/survey_form/new_survey' method='post'>
		{% csrf_token %}
		Your Name: <input type="text" name="name"> <br>
		Dojo Location: 
		<select name="location">
			<option value="seattle">Seattle</option>
			<option value="washington">Washington</option>
			<option value="japan">Japan</option>
		</select> <br>
		Favorite Language:
		<select name="languages">
			<option value="python">Python</option>
			<option value="cs">C#</option>
			<option value="js">JavaScript</option>
		</select> <br>
		Comment: <br>
		<input type="text" name="comment"> <br><br>
		<input type="submit">
	</form>
</body>
</html>