* {
    border: 0;
    margin: 0;
    padding: 0;
}


/* .poke-dex, .poke-list{
    display: inline-block;
}

.buttons, .pokemen {
    display: inline;
} */
.poke-list {
    background-color: greenyellow;
    width: 500px;
}

.poke-dex {
    background-color: darkolivegreen;
    height: 100px;
}
