<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>welcome</title>
        {% load static %}
        <link rel="stylesheet" type="text/css"  href="{% static 'rand_word_app/css/style.css' %}" />
        
    </head>
    <body>
        <div id="welcome" class="tabcontent">
            <h3>Welcome!</h3>
            <p>Here you can generate random words</p>
        </div>
        
        <div id="generator" class="tabcontent">
            <h3>Generator</h3>
            <p> placeholder for generated word? </p>
        </div>
        
        <div id="log" class="tabcontent">
            <h3>Log</h3>
            <p>these are the words generated so far</p>
        </div>
        
        <div id="delete" class="tabcontent">
            <h3>Delete Log</h3>
        </div>
        
        <button class="tablink" onclick="openCity('welcome', this, 'red')" id="defaultOpen">Welcome</button>
        <button class="tablink" onclick="openCity('generator', this, 'green')">Generator</button>
        <button class="tablink" onclick="openCity('log', this, 'blue')">Log</button>
        <button class="tablink" onclick="openCity('delete', this, 'orange')">Delete</button>

    <script src="{% static 'rand_word_app/js/script.js' %}"></script>


        {% block content %}
        {% endblock %}
    </body>


</html>