<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>

</head>
<body>
	<h1>Welcome, please fill out the form</h1>
	<h2>From</h2>
	<form action='/' method='post'>
		Your Name: <input type="text" name="name">
		Dojo Location: 
			<select>
				<option name='silicon_valley'>Silicon Valley, CA</option>
				<option name='seattle'>Seattle, WA</option>
				<option name='dallas'>Dallas, TX</option>
				<option name='tulsa'>Tulsa, OK</option>
			</select>
		Comments:
			<textarea rows='4' cols='50' name='comments'></textarea>
		<input type="submit" value="Submit">
	</form>	


</body>
</html>